:host {
    display: block;
    width: inherit;
}
.dot-flashing {
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255, 0.8);
    color: rgb(255, 255, 255, 0.8);
    animation: dot-flashing 0.4s infinite linear alternate;
    animation-delay: 0.2s;
}
.dot-flashing::before,
.dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}
.dot-flashing::before {
    left: 0px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255, 0.8);
    color: rgb(255, 255, 255, 0.8);
    animation: dot-flashing 0.4s infinite alternate;
    animation-delay: 0s;
}
.dot-flashing::after {
    left: 10px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255, 0.8);
    color: rgb(255, 255, 255, 0.8);
    animation: dot-flashing 0.4s infinite alternate;
    animation-delay: 0.4s;
}

@keyframes dot-flashing {
    0% {
        background-color: rgb(255, 255, 255, 0.6);
    }
    50%,
    100% {
        background-color: rgb(255, 255, 255, 0.2);
    }
}

.var--dm {
    background-color: rgb(32, 32, 32, 0.08);
    color: rgb(32, 32, 32, 0.08);

    @keyframes dot-flashing {
        0% {
            background-color: rgb(32, 32, 32, 0.8);
        }
        50%,
        100% {
            background-color: rgb(32, 32, 23, 0.2);
        }
    }
}

.crescent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .crescent {
        border: 4px solid #f3f3f3;
        border-top: 4px solid #333333;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        animation: spin 1.5s linear infinite;
    }
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: var(--secondary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 