:root {
    --primary: #333;
    --primary-light: #545454;
    --primary-dark: rgb(0, 0, 0);
    --primary-soft: #efebe9;
    --secondary: #1E90FF;
    --secondary-light: #4fa7ff;
    --secondary-dark: #0a62b9;
    --secondary-soft: #f4f9ff;
    --color: #333;
    --bg: #fff;
    --border: #E0E1E7;
    --purple: #8f00ff;
    --red: #dc1a1a;
    --orange: #FF9500;
    --blue: #1E90FF;
    --grey: #777E90;
    --green: #54ce6f;
}
