@media (max-width: 481px) {
    .modal-body  {
        height: 70svh !important;
        overflow: auto;
    }
}

@media (max-width: 641px) {
    .modal-body  {
        height: 70svh !important;
        overflow: auto;
    }
}
